/* You can add global styles to this file, and also import other style files */
* { background-color: black; }


.ball {
    display: inline;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}

@media (pointer:coarse) {
    .ball {
        display: none;
    }
}
